<suite name="BStackDemo Test Suite">

    <test name="Smoke Tests">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>

        <classes>
            <class name="com.bstackdemo.tests.ProductTest"/>
        </classes>
    </test>

    <test name="Regression Tests">
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>

        <classes>
            <class name="com.bstackdemo.tests.ProductTest"/>
        </classes>
    </test>

    <test name="Negative Tests">
        <groups>
            <run>
                <include name="negative"/>
            </run>
        </groups>

        <classes>
            <class name="com.bstackdemo.tests.ProductTest"/>
        </classes>
    </test>

</suite>