

<suite name="BStackDemo Test Suite">

    <test name="Login Tests">
        <classes>
            <class name="com.bstackdemo.tests.LoginTest"/>
        </classes>
    </test>

    <test name="Product Tests">
        <classes>
            <class name="com.bstackdemo.tests.ProductTest"/>
        </classes>
    </test>

</suite>